a {
  color: #00B7FF;
}

section {
  min-height:430px;
  padding: 60px 0;
  color: white;
}

.jumbotron {
  border-radius: 0;
}

.jumbotron h1 {
  font-size: 3em;
  margin-bottom:20px;
}


.form-inline .form-group {
  margin-right: 5px;
}

.center-div{
  margin: 0 auto;
  width:80% /* value of your choice which suits your alignment */
}

.form-control-lg {
  padding: 22px 19px;
  font-size: 22px;
  font-weight: 100;
}

.night {
  background: #3B3B3B;
  color: white;
}

.less-padding {

}


.col-input-left {
  padding-right: 3px;
}
.col-input-right {
  padding-left: 3px;
}
.col-input-center {
  padding-right: 3px;
  padding-left: 3px;
}

.input-left {
  padding-right: 5px;
}

.input-right {
  padding-left: 0px;
}

#map {
  width:100%;
  height:300px;
}

.large {
  font-size: 150%;
}

.barrier {
  height:90%;
  border: 1px solid #eee;
}

hr.dark {
  border: 1px solid #353839
}


.alert {
  position: fixed;
  width: 100%;
  top: 15px;
}



.big-text {
    font-size: 500%;
    line-height: 100%;
    width: 100%;
    top: 10px;
}

.picture {
  background-image: url('./coffee-alum-steps.png');
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.align-text {
    text-align: center;
    margin: auto;
    width: 60%;
    z-index: 2;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;

}

.align-title {
    text-align: center;
    margin: auto;
    width: 70%;
    z-index: 2;
    color: rgba(0, 0, 0, 1);
    font-weight:350;
}

.first-block {
    background-color: rgb(14, 94, 95);
    opacity: 0.8;
    padding: 20px !important;

}

.second-block {
    background-color: rgb(255, 255, 255, 1);
    opacity: 0.8;

}

.third-block {
    background-color: rgb(242, 61, 1);
    opacity: 0.7;

}

.videoWrapperOuter {
  max-width:640px;
  margin-left:auto;
  margin-right:auto;
}
.videoWrapperInner {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  padding-top: 25px;
  height: 0;
}
.videoWrapperInner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


input#mce-EMAIL.email{

    padding: 16px 32px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    width: 30%;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
input#subscribe-button.button{

    background-color: rgb(242, 61, 1);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    }


#mc_embed_signup input.email{
    margin-left: 20% !important;
    height: 10% !important;


}

#mc_embed_signup input.button{
    margin-left: 30% !important;
    height: 10% !important;
}


}
